@media all and (min-width: 360px) {
  .system_message {
    width: 55%;
    max-width: 670px;
    min-width: 360px;
  }
  .message_wrap {
    margin-top: -6.8vw;
  }
}
@media all and (min-width: 1440px) {
  .message_wrap {
    margin-top: -100px;
  }
  .letters span {
    font-size: 265px;
  }
  .message_wrap:nth-of-type(odd) span {
    left: -30px;
    top: -30px;
  }
  .message_wrap:nth-of-type(even) span {
    right: 30px;
    top: -30px;
  }
}

@media all and (max-width: 1440px) and (min-width: 390px) {
  .ghost_wrap {
    width: 34vw;
  }
  .ghost_wrap:nth-of-type(2) {
    margin-left: 0;
  }
  .ghost_wrap:nth-of-type(3) {
    margin-left: 0;
  }
  .letters span {
    font-size: calc(105px + 160 * ((100vw - 390px) / (1440 - 390)));
  }
  .first_app {
    font-size: calc(24px + 26 * ((100vw - 390px) / (1440 - 390)));
  }
}
@media all and (max-width: 1440px) {
  body {
    width: 100%;
    border: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .iwanttokillthem_wrap {
    font-size: calc(200px + 200 * ((100vw - 768px) / (1440 - 768)));
  }
  .ohmygod_wrap {
    font-size: calc(150px + 150 * ((100vw - 768px) / (1440 - 768)));
  }
  .whatfor_wrap {
    font-size: calc(75px + 75 * ((100vw - 768px) / (1440 - 768)));
  }
  .whatididtodeserve_wrap {
    font-size: calc(50px + 50 * ((100vw - 768px) / (1440 - 768)));
  }
  .why_wrap {
    font-size: calc(43px + 43 * ((100vw - 768px) / (1440 - 768)));
  }
  .system_message,
  .system_message:before,
  .message_wrap {
    font-size: calc(15px + 11 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media all and (min-width: 414px) and (max-width: 1440px) {
  .message_wrap:nth-of-type(odd) {
    margin-left: 3vw;
  }
  .message_wrap:nth-of-type(even) {
    margin-right: 3vw;
  }
  .message_wrap:nth-of-type(odd) span {
    left: -0.35em;
    top: -0.35em;
  }
  .message_wrap:nth-of-type(even) span {
    right: 0.35em;
    top: -0.35em;
  }
}

@media all and (max-width: 768px) {
  .iwanttokillthem_wrap {
    font-size: 200px;
  }
  .ohmygod_wrap {
    font-size: 150px;
  }
  .whatfor_wrap {
    font-size: 75px;
  }
  .whatididtodeserve_wrap {
    font-size: 50px;
  }
  .why_wrap {
    font-size: 43px;
  }
  .system_message,
  .system_message:before,
  .message_wrap {
    font-size: 15px;
  }
}
@media all and (max-width: 414px) {
  .system_message {
    width: 100%;
    animation-timeline: none;
  }
  .message_wrap {
    margin-top: 0;
  }
  .message_wrap:nth-of-type(odd) {
    margin-left: 0px;
  }
  .message_wrap:nth-of-type(even) {
    margin-right: 0px;
  }
  .message_wrap:nth-of-type(odd) span {
    right: 1.5em;
    top: -0.35em;
  }
  .message_wrap:nth-of-type(even) span {
    left: 0.5em;
    top: -0.35em;
  }
  /* .ghost_wrap:nth-of-type(1) {
    display: none;
  }
  .ghost_wrap:nth-of-type(3) {
    display: none;
  } */
  .ghosts_container {
    flex-wrap: wrap;
  }
  .ghost_wrap:nth-of-type(1),
  .ghost_wrap:nth-of-type(3) {
    width: 50%;
  }
  .ghost_wrap:nth-of-type(1) {
    order: 2;
  }
  .ghost_wrap:nth-of-type(3) {
    order: 3;
  }
  .ghost_wrap:nth-of-type(2) {
    width: 100%;
    order: 1;
  }
  .iwanttokillthem_wrap {
    font-size: 200px;
  }
  .whatididtodeserveit_wrap {
    font-size: 70px;
  }
  .idontwanttodie {
    font-size: 20px;
  }
  .whatfor_wrap {
    font-size: 50px;
  }
  .why_wrap {
    font-size: 50px;
  }
  .ohmygod_wrap {
    font-size: 150px;
  }
  .letters span {
    font-size: 105px;
  }
  .first_app {
    font-size: 24px;
  }
}
