/* анимация подергивания */
@keyframes shake {
  0% {
    transform: translateY(10px);
  }
  20% {
    transform: translateX(20px);
  }
  30% {
    transform: translateY(20px);
  }
  50% {
    transform: translateZ(-10px);
  }
  53% {
    transform: translateX(45px);
  }
  54% {
    transform: translateX(0px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    transform: translateY(20px);
  }
}
/* анимация бегущих строк */
@keyframes ohmygod {
  100% {
    transform: translate(-67%);
  }
}
@keyframes iwanttokillthem {
  100% {
    transform: translate(-84.4%);
  }
}
@keyframes whatididtodeserve {
  100% {
    transform: translate(-64.8%);
  }
}
@keyframes idontwanttodie {
  100% {
    transform: translate(-72%);
  }
}
@keyframes why {
  100% {
    transform: translate(-66%);
  }
}
@keyframes whatfor {
  100% {
    transform: translate(-80%);
  }
}
/* анимация глючного текста для 1 выплывающего окна */
@keyframes first_glitch {
  0% {
    content: '>> %!С+(*_:\00000a\00000axGDA.@С4^З2Аd54Ь.\00000a/Е’aТ;А';
  }
  4% {
    content: '>> x!С+(*А:\00000a\00000axыDA.@С4^Зч(d54Ь.\00000a/Ж’aТ;А';
  }
  8% {
    content: '>> С?c+(*А:\00000a\00000aRы4A.*С4^Зч(d54Ь.\00000a/Ж’aТd6';
  }
  12% {
    content: '>> Сиc+(мА:\00000a\00000aR2рA.РС234^Зч2154Ь.\00000a/Ж’a?d6';
  }
  16% {
    content: '>> С c+(мА:\00000a\00000aК2рA.РС2 4^Зч454 .\00000a/Ж’?т_6';
  }
  20% {
    content: '>> СиcмА:\00000a\00000aК2A.РС2 4^Зч454 .\00000a/Ж123т_6';
  }
  24% {
    content: '>> СиcТмА:\00000a\00000aКаAа.Ра24^Зз 54.\00000a/Ж 23т_6';
  }
  28% {
    content: '>> СиСТЕмА:\00000a\00000aКаРа.РаСП^Зз 54.\00000a/23т_6';
  }
  32% {
    content: '>> СиСТЕмА:\00000a\00000aКаРА.РаСП^ЗзНАтЬ\00000aж Рт_А';
  }
  34% {
    content: '>> СИ#ТЕмА:\00000a\00000aКАРА.РаСПЗН!ТЬ.\00000aжЕРт_А';
  }
  38% {
    content: '>> СИСТЕмА:\00000a\00000aК!&А.0аСП_НАТЬ.\00000aЖЕРт_А';
  }
  42% {
    content: '>> СИСТЕ А:\00000a\00000aКАРА. СПЗНАТЬ.\00000aЖЕРт_А';
  }
  46% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.РАСПЗНАТЬ.\00000aЖЕРтВА';
  }
  52% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.РАСПОЗНАТЬ.\00000aЖЕРТВА';
  }
  56% {
    content: '>> СИСТЕМА:\00000a\00000aКАрА.РАСП_ЗНАТЬ.\00000aЖЕР?ВА';
  }
  57% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.РАСПОЗНАТЬ.\00000aЖЕРТВА';
  }
  100% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.РАСПОЗНАТЬ.\00000aЖЕРТВА';
  }
}
/* анимация глючного текста для 2 выплывающего окна */
@keyframes second_glitch {
  0% {
    content: '>> %!С+(*_:\00000a\00000axGDA.@б4^З2Аd54Ь.\00000a/Е’aТА';
  }
  4% {
    content: '>> x!С+(*А:\00000a\00000axыDA.@об^Зч(dап54Ь.\00000a/Ж’n;А';
  }
  8% {
    content: '>> С?c+(*А:\00000a\00000aRы4A.*B4^Зч(d54Ь.\00000a/S’aТd6';
  }
  12% {
    content: '>> Сиc+(мА:\00000a\00000aR2рA.ОБ234^Зч2154Ь.\00000a/С’a?d6';
  }
  16% {
    content: '>> С c+(мА:\00000a\00000aК2рA.ОБ24^Зч44.\00000a/С’?н_6';
  }
  20% {
    content: '>> СиcмА:\00000a\00000aК2A.ОбС24^Зн454.\00000a/С123т_6';
  }
  24% {
    content: '>> СиcТмА:\00000a\00000aКаAа.Об24^ 54.\00000a/С 23н_6';
  }
  28% {
    content: '>> СиСТЕмА:\00000a\00000aКаРа.Об^Ра от.\00000a/23н_6';
  }
  32% {
    content: '>> СиСТЕмА:\00000a\00000aКаР.ОбРА^боТАт.\00000aс23н_6';
  }
  34% {
    content: '>> СИ#ТЕмА:\00000a\00000aКАРА.?б*АБ! 3ь.\00000aИГн*л';
  }
  38% {
    content: '>> СИСТЕмА:\00000a\00000aК!&А.0Б_ РаТЬ.\00000aСИГн_л';
  }
  42% {
    content: '>> СИСТЕ А:\00000a\00000aКАРА. РАБТАТЬ\00000a.СИГн_л';
  }
  46% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.ОбРАбОТТЬ\00000a.СИгНАЛ';
  }
  52% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.ОБРАБОТАТЬ\00000a.СИГНАЛ';
  }
  56% {
    content: '>> СИСТЕМА:\00000a\00000aКАрА.ОБРА_БОТАТЬ\00000a.СИГ?НА';
  }
  57% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.ОБРАБОТАТЬ\00000a.СИГНАЛ';
  }
  100% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.ОБРАБОТАТЬ\00000a.СИГНАЛ';
  }
}
/* анимация глючного текста для 3 выплывающего окна */
@keyframes third_glitch {
  0% {
    content: '>> %!С+(*_:\00000a\00000axGDA.З2Nad54Ь.\00000a/Е’a*£fsdТАxGDA';
  }
  4% {
    content: '>> x!С+(*А:\00000a\00000axыDA.@(dап54Ь.\00000a/Р8jh(%* 23&)£$';
  }
  8% {
    content: '>> С?c+(*А:\00000a\00000aRы4A.*АЧ(d54Ь.\00000a/S’aТ2(?:аd6';
  }
  12% {
    content: '>> Сиc+(мА:\00000a\00000aR2рA.НА234^ЗЬ.\00000a/С’a?d(t7re86';
  }
  16% {
    content: '>> С c+(мА:\00000a\00000aК2рA.НА2 4^З.\00000a/С’?ф_4356ка';
  }
  20% {
    content: '>> СиcмА:\00000a\00000aК2A.наЧ2 4^.\00000a/Р123т_6п4-5';
  }
  24% {
    content: '>> СиcТмА:\00000a\00000aКаAа.На24^ 54.\00000a/Р С3н_6*>';
  }
  28% {
    content: '>> СиСТЕмА:\00000a\00000aКаРа.На^А ТЬ.\00000a/23в_6234';
  }
  32% {
    content: '>> СиСТЕмА:\00000a\00000aКаР.НА 62т.\00000aра*23в_а';
  }
  34% {
    content: '>> СИ#ТЕмА:\00000a\00000aКАРА.ЧА! Ть.\00000aРАd*л?#';
  }
  38% {
    content: '>> СИСТЕмА:\00000a\00000aК!&А.НА_ аТЬ.\00000aРАСши_в!а';
  }
  42% {
    content: '>> СИСТЕ А:\00000a\00000aКАРА. ЧАТЬ.\00000aРАСшиф_ка';
  }
  46% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.НаЧА Ь.\00000aРАсШИ _ Ка';
  }
  52% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.НАЧАТЬ.\00000aРАСШИРОФВКА';
  }
  56% {
    content: '>> СИСТЕМА:\00000a\00000aКАрА.НАЧ_АТЬ.\00000aРАС:ИФР!В4А';
  }
  57% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.НАЧАТЬ.\00000aРАСШИРОФВКА';
  }
  100% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.НАЧАТЬ.\00000aРАСШИРОФВКА';
  }
}
/* анимация глючного текста для 4 выплывающего окна */
@keyframes forth_glitch {
  0% {
    content: '>> %!С+(*_:\00000a\00000axGDA.@aН^Зч(vaT5Ь.\00000a*D5!nnЫ';
  }
  4% {
    content: '>> x!С+(*А:\00000a\00000axыDA.АBН^иЛИ(з54Ь.\00000a(А’aНн6';
  }
  8% {
    content: '>> С?c+(*А:\00000a\00000aRы4A.ANa34^li215nь.\00000aDС’n?ы6';
  }
  12% {
    content: '>> Сиc+(мА:\00000a\00000aR2рA.АН2Р^fsat4Ь.\00000a/Д’?н_6';
  }
  16% {
    content: '>> С c+(мА:\00000a\00000aК2рA.АнС2 4^Зр4ь4 .\00000a/Да2Ны_е';
  }
  20% {
    content: '>> СиcмА:\00000a\00000aК2A.Ан24^РО54ь .\00000a/Д*н3ы_Е';
  }
  24% {
    content: '>> СиcТмА:\00000a\00000aКаAа.Ан^Ли ва *4Т.\00000a*42н!е';
  }
  28% {
    content: '>> СиСТЕмА:\00000a\00000aКаРа.АН*92^ваТАт.\00000a/даН3_е';
  }
  32% {
    content: '>> СиСТЕмА:\00000a\00000aКаРА.АН8%ИзИ3ВАТЬ.\00000aДаН *Е';
  }
  34% {
    content: '>> СИ#ТЕмА:\00000a\00000aКАРА.АНОЛИзи;?%ВТЬ.\00000aДА_НЫЕ';
  }
  38% {
    content: '>> СИСТЕмА:\00000a\00000aК!&А.?*АлИЗ4РОАтЬ.\00000aДАН4ые';
  }
  42% {
    content: '>> СИСТЕ А:\00000a\00000aКАРА. аНАЛИпрВОАТЬ.\00000aДАнНЫЕ';
  }
  46% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.АНАЛИЗИРОВАТЬ.\00000aДАННЫЕ';
  }
  52% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.АНАл_ИЗРОВАТЬ.\00000aДАННыЕ';
  }
  56% {
    content: '>> СИСТЕМА:\00000a\00000aКАрА.АНАЛИЗИРОВАТЬ.\00000aДАННЫЕ';
  }
  100% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.АНАЛИЗИРОВАТЬ.\00000aДАННЫЕ';
  }
}
/* анимация глючного текста для 5 выплывающего окна */
@keyframes fifth_glitch {
  0% {
    content: '>> %!С+(*_:\00000a\00000axGDA.З2ДОБИ54Ь.\00000a/СП’a*£fsвоСть';
  }
  4% {
    content: '>> x!С+(*А:\00000a\00000axыDA.@biпТСя.\00000a/S8pra(%* 2ved)£$';
  }
  8% {
    content: '>> С?c+(*А:\00000a\00000aRы4A.*ОБИ(tsЯ.\00000a/Ж’aТd6';
  }
  12% {
    content: '>> Сиc+(мА:\00000a\00000aR2рA.ДО2ИТЬС^.\00000a/С’ПРА(tВоСe!6';
  }
  16% {
    content: '>> С c+(мА:\00000a\00000aК2рA. ДоБИ СЯ.\00000a/С’РА?!ВО435СТЬ';
  }
  20% {
    content: '>> СиcмА:\00000a\00000aК2A.дОБЧ2 С4Я.\00000aСПр23т_илВО4с5';
  }
  24% {
    content: '>> СиcТмА:\00000a\00000aКаAа.ДобиИ4^ С4Я.\00000a!С рАВ№#СОСТЬ>';
  }
  28% {
    content: '>> СиСТЕмА:\00000a\00000aКаРа.До^И ТЬся.\00000a/СПрв_ст34*;';
  }
  32% {
    content: '>> СиСТЕмА:\00000a\00000aКаРА.ДО 62т+СЯ.\00000aсп*23в_СТЬ';
  }
  34% {
    content: '>> СИ#ТЕмА:\00000a\00000aКАРА.!ОБИТЬ Ся.\00000aСПр*ли#ть';
  }
  38% {
    content: '>> СИСТЕмА:\00000a\00000aК!&А.ДО_и тСЯ.\00000aСПРав_в!ст;5';
  }
  42% {
    content: '>> СИСТЕ А:\00000a\00000aКАРА. ДОБ ТЬСЯ.\00000aСПРавед_сть';
  }
  46% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.:О1Б2ТЬсЯ.\00000aСПр_ВедлИВ * ТЬ';
  }
  52% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.ДОБИТЬСЯ.\00000aСПРАВЕДЛИВОСТЬ';
  }
  56% {
    content: '>> СИСТЕМА:\00000a\00000aКАрА.ДОБ_ТЬСЯ.\00000aСПР:ВЕдЛИВ!СТЬ';
  }
  57% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.ДОБИТЬСЯ.\00000aСПРАВЕДЛИВОСТЬ';
  }
  100% {
    content: '>> СИСТЕМА:\00000a\00000aКАРА.ДОБИТЬСЯ.\00000aСПРАВЕДЛИВОСТЬ';
  }
}
/* раскадровка 1 призрака */
@keyframes ghost1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
/* раскадровка 2 призрака */
@keyframes ghost2 {
  0% {
    background-position: 0 -200%;
  }
  100% {
    background-position: -100% -200%;
  }
}
/* раскадровка 3 призрака */
@keyframes ghost3 {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: -100% -100%;
  }
}
/* анимация мигания для подписей призраков */
@keyframes go_black {
  0% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: black;
    color: white;
  }
}
/* мигание фона n1 */
@keyframes blink_white {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
/* мигание фона n2 */
@keyframes black_blink {
  0% {
    background-color: black;
    color: black;
  }
  45% {
    background-color: white;
    color: black;
  }
  60% {
    background-color: black;
    color: black;
  }
  80% {
    background-color: black;
    color: white;
  }
}
/* мигание фона для средних блоков в дисплеях  */
@keyframes box {
  0%,
  30%,
  50% {
    background-color: black;
    color: white;
    box-shadow: -0.4em 0px 0px black, 0.9em 0px 0px black;
  }
  25%,
  65% {
    background-color: white;
    color: black;
    box-shadow: -0.4em 0px 0px white, 0.9em 0px 0px white;
  }
  40% {
    background-color: black;
    color: black;
  }
  100% {
    background-color: black;
    color: white;
    box-shadow: -0.4em 0px 0px black, 0.9em 0px 0px black;
  }
}
/* мигание фона для больших блоков в дисплеях */
@keyframes big_box {
  0%,
  30%,
  50% {
    background-color: white;
    color: white;
    box-shadow: -0.4em 0px 0px white, 0.9em 0px 0px white;
  }
  25%,
  65% {
    background-color: black;
    color: black;
    box-shadow: -0.4em 0px 0px black, 0.9em 0px 0px black;
  }
  40% {
    background-color: black;
    color: white;
    box-shadow: -0.4em 0px 0px black, 0.9em 0px 0px black;
  }
  100% {
    background-color: white;
    color: white;
    box-shadow: -0.4em 0px 0px white, 0.9em 0px 0px black;
  }
}
/* анимации меняющихся шрифтов */
@keyframes l1 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Druzhok';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  27% {
    font-family: 'Ghostsigns';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
  73% {
    font-family: 'VPCH2';
    color: white;
  }
}
@keyframes l2 {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  5% {
    color: white;
    font-family: 'Rezok';
  }
  70% {
    color: white;
    font-family: 'VPCH2';
  }
  80% {
    font-family: 'Boris';
  }
  94% {
    color: white;
  }
  95% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l3 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Truin';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  27% {
    font-family: 'Druzhok';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l4 {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  5% {
    color: white;
    font-family: 'Ghostsigns';
  }
  70% {
    color: white;
    font-family: 'VPCH2';
  }
  80% {
    font-family: 'Truin';
  }
  95% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l5 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Atonic';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  27% {
    font-family: 'ksms';
    color: white;
  }
  50% {
    font-family: 'Atonic';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l6 {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  5% {
    color: white;
    font-family: 'Druzhok';
  }
  70% {
    color: white;
    font-family: 'Mrakobes';
  }
  80% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l7 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Atonic';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  27% {
    font-family: 'Truin';
    color: white;
  }
  50% {
    font-family: 'ksms';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l8 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'VPCH2';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  27% {
    font-family: 'Druzhok';
    color: white;
  }
  50% {
    font-family: 'Rezok';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l9 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Druzhok';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  27% {
    font-family: 'Truin';
    color: white;
  }
  50% {
    font-family: 'VPCH2';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l10 {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  5% {
    color: white;
    font-family: 'ksms';
  }
  70% {
    color: white;
    font-family: 'Ghostsigns';
  }
  95% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l11 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Rezok';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    font-family: 'Truin';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l12 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Ghostsigns';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  27% {
    font-family: 'Truin';
    color: white;
  }
  50% {
    font-family: 'Ghostsigns';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l13 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Rezok';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    font-family: 'Truin';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l14 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'VPCH2';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  27% {
    font-family: 'ksms';
    color: white;
  }
  50% {
    font-family: 'VPCH2';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l15 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Atonic';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    font-family: 'mrakobes';
    color: white;
  }
  70% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes l16 {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  17% {
    font-family: 'Mrakobes';
    color: white;
  }
  26% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    font-family: 'Boris';
    color: white;
  }
}
/* анимациия бегущей строки с раскадровками */
@keyframes run {
  100% {
    transform: translate(-3125px);
  }
}
@keyframes p {
  0% {
    background-position: 0 -600%;
  }
  100% {
    background-position: -100% -600%;
  }
}
@keyframes o {
  0% {
    background-position: 0 -500%;
  }
  100% {
    background-position: -100% -500%;
  }
}
@keyframes m {
  0% {
    background-position: 0 -400%;
  }
  100% {
    background-position: -100% -400%;
  }
}

@keyframes g {
  0% {
    background-position: 0 -300%;
  }
  100% {
    background-position: -100% -300%;
  }
}
@keyframes i {
  0% {
    background-position: 0 -200%;
  }
  100% {
    background-position: -100% -200%;
  }
}
@keyframes t {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: -100% -100%;
  }
}
@keyframes e {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
/* анимациия 1 дисплея */
@keyframes error {
  0% {
    line-height: 1em;
  }
  50% {
    line-height: 6.2em;
  }
  100% {
    line-height: 1em;
  }
}
/* анимациия 2 дисплея */
@keyframes go_right {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 85%;
    right: 11%;
  }
  100% {
    top: 0;
    right: 0;
  }
}
/* анимациия 3 дисплея */
@keyframes go_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 80%;
    left: 10%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
/* анимациия 4 дисплея */
@keyframes go_down {
  0% {
    line-height: 1em;
  }
  50% {
    line-height: 8.2em;
  }
  100% {
    line-height: 1em;
  }
}
/* анимациия растяжения букв  */
@keyframes stretch {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.3);
  }
  75% {
    transform: scale(1, 0.7);
  }
}
/* анимациия фона */
@keyframes balls {
  0% {
    transform: translateY(250%) translateX(calc(10% * var(--i)));
  }
  20% {
    transform: translateY(150%) translateX(calc(18% * var(--i)));
  }
  50% {
    transform: translateY(50%) translateX(calc(16% * var(--i)));
  }
  70% {
    transform: translateY(-50%) translateX(calc(18% * var(--i)));
  }
  100% {
    transform: translateY(-200%) translateX(calc(10% * var(--i)));
  }
}
