html {
  background-color: black;
}
body {
  width: 1440px;
  margin: 0 auto;
  border-left: 1px white solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
  position: relative;
  font-family: sans-serif;
}

section {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
section:nth-of-type(1) {
  overflow-y: hidden;
}
h1 {
  -webkit-text-stroke: 0.5px black;
}
.ohmygod_wrap {
  transform: rotate(-13deg);
  margin-top: -100px;
  font-size: 300px;
}
.ohmygod_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  position: relative;
  animation: ohmygod 2s linear reverse infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}

.iwanttokillthem_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: iwanttokillthem 11s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}
.iwanttokillthem_wrap {
  font-size: 400px;
  position: relative;
}
.idontwanttodie_wrap {
  transform: rotate(25deg);
  margin-top: -50px;
  position: relative;
  z-index: 2;
  font-size: 60px;
}
.idontwanttodie_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: idontwanttodie 3s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}
.whatfor_wrap {
  transform: rotate(10deg);
  margin-top: -50px;
  position: relative;
  z-index: 2;
  font-size: 150px;
}
.whatfor_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: whatfor 3s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}
.whatididtodeserve_wrap {
  transform: rotate(-6deg);
  margin-top: -80px;
  position: relative;
  z-index: 1;
  font-size: 100px;
}
.whatididtodeserve_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: whatididtodeserve 4s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}

.why_wrap {
  transform: rotate(5deg);
  margin-top: -50px;
  position: relative;
  z-index: 1;
  font-size: 86px;
  margin-bottom: 10px;
}
.why_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: why 3s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}
.system_message {
  font-family: 'Press Start 2P';
  color: rgba(255, 0, 0, 0);
  font-size: 26px;
  background-color: black;
  border: 2px solid white;
  z-index: 3;
  display: block;
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
  /* animation: message_dissapear 1s linear infinite; */
  /* animation: message_dissapear linear both;
  animation-timeline: view(45% 60%); */
  /* &:hover {
    animation-play-state: paused;
    animation: message_stable 1s linear infinite;
  } */
}
section:nth-of-type(odd) .system_message {
  padding-left: 1.5em;
}
section:nth-of-type(even) .system_message {
  margin-left: auto;
  padding-right: 1.5em;
  text-align: right;
}
section:nth-of-type(odd) .message_wrap {
  margin-left: 40px;
}
section:nth-of-type(even) .message_wrap {
  margin-right: 40px;
}
.system_message:before {
  content: ' ';
  position: absolute;
  font-size: 26px;
  color: white;
  white-space: pre-wrap;
  width: 80%;
}
section:nth-of-type(even) .message_wrap .system_message:before {
  text-align: right;
  right: 1.5em;
}
section:nth-of-type(odd) .message_wrap .system_message:before {
  left: 1.5em;
}
section:nth-of-type(1) .message_wrap .system_message:before {
  animation: first_glitch 2.5s linear infinite;
}
section:nth-of-type(2) .message_wrap .system_message:before {
  animation: second_glitch 2.5s linear infinite;
}
section:nth-of-type(3) .message_wrap .system_message:before {
  animation: third_glitch 2.5s linear infinite;
}
section:nth-of-type(4) .message_wrap .system_message:before {
  animation: forth_glitch 2.5s linear infinite;
}
section:nth-of-type(5) .message_wrap .system_message:before {
  animation: fifth_glitch 2.5s linear infinite;
}
.message_wrap {
  position: relative;
  font-size: 26px;
  box-sizing: border-box;
}
.message_wrap span {
  position: absolute;
  font-size: 2.5em;
  color: white;
  font-family: 'Press Start 2P';
  z-index: 4;
  width: 0;
  text-shadow: 5px 5px black;
  -webkit-text-stroke: 1px black;
  &:active {
    opacity: 0;
  }
}
.message_wrap span:active ~ .system_message {
  opacity: 0;
}
.ghosts_container {
  display: flex;
  flex-direction: row;
}
.ghost_wrap {
  width: 550px;
  height: auto;
}
.ghost_wrap:nth-of-type(2) {
  margin-left: -5%;
}
.ghost_wrap:nth-of-type(3) {
  margin-left: -5%;
}
.ghost1,
.ghost2,
.ghost3 {
  width: 100%;
  padding-bottom: 100%;
  height: auto;
}

.ghost1 {
  animation: ghost1 1s steps(21) infinite;
}
.ghost2 {
  animation: ghost2 1s steps(21) infinite;
}
.ghost3 {
  animation: ghost3 1s steps(21) infinite;
}
.ghost1,
.ghost2,
.ghost3 {
  background: url(../images/ghosts.png);
  background-size: auto 300%;
  &:hover {
    animation-play-state: paused;
  }
}
.ghost_label {
  font-family: 'Press Start 2P';
  font-size: 12px;
  float: right;
  background-color: white;
  padding: 10px;
  position: relative;
  z-index: 2;
  &:hover {
    animation: go_black 0.1s linear infinite;
  }
}
.letters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: clip;
}
.letters > span {
  font-size: 265px;
  color: white;
}
#l1,
#l2,
#l3,
#l4,
#l5,
#l6,
#l7,
#l8,
#l9,
#l10,
#l11,
#l12,
#l13,
#l14,
#l15,
#l16 {
  &:hover {
    animation: flip 0.5s linear infinite;
  }
}
#l1 {
  font-family: 'Ghostsigns';
  /* transform: rotate(-15deg); */
  width: 0.98em;
  animation: l1 1.5s steps(1) infinite;
  margin-top: 0.25em;
}
#l2 {
  font-family: 'Boris';
  width: 0.85em;
  margin-top: 0.35em;
  animation: l2 1.5s steps(1) infinite;
  animation-delay: 1.3s;
}
#l3 {
  font-family: 'Truin';
  width: 0.55em;
  animation: l3 1.5s steps(1) infinite;
  animation-delay: -0.3s;
  margin-top: 0.25em;
}
#l4 {
  font-family: 'Ghostsigns';
  margin-top: 0.4em;
  width: 0.28em;
  animation: l4 1.5s steps(1) infinite;
  animation-delay: -0.5s;
}
#l5 {
  font-family: 'ksms';
  animation: l5 1.5s steps(1) infinite;
  width: 0.58em;
  animation-delay: -1.2s;
  margin-top: -0.15em;
}
#l6 {
  font-family: 'Mrakobes';
  animation: l6 1.5s steps(1) infinite;
  margin-top: 0.45em;
  width: 0.18em;
  animation-delay: 0.1s;
}
#l7 {
  font-family: 'Atonic';
  animation: l7 1.5s steps(1) infinite;
  width: 0.65em;
  margin-top: 0.25em;
  animation-delay: 0.8s;
}
#l8 {
  font-family: 'VPCH2';
  animation: l8 1.5s steps(1) infinite;
  transform: rotate(-15deg);
  width: 0.55em;
  margin-top: 0.25em;
  animation-delay: -0.8s;
}
#l9 {
  font-family: 'Druzhok';
  animation: l9 1.5s steps(1) infinite;
  width: 0.55em;
  animation-delay: -1.2s;
}
#l10 {
  font-family: 'ksms';
  animation: l10 1.5s steps(1) infinite;
  /* transform: rotate(-15deg); */
  width: 0.58em;
  animation-delay: -0.7s;
}
#l11 {
  font-family: 'Atonic';
  width: 0.5em;
  animation: l11 1.5s steps(1) infinite;
  animation-delay: -1.6s;
}
#l12 {
  font-family: 'Druzhok';
  animation: l12 1.5s steps(1) infinite;
  transform: rotate(-15deg);
  margin-top: 0.25em;
  width: 0.68em;
  animation-delay: 0.6s;
}
#l13 {
  font-family: 'Rezok';
  animation: l13 1.5s steps(1) infinite;
  transform: rotate(15deg);
  width: 0.95em;
  animation-delay: 0.4s;
}
#l14 {
  font-family: 'ksms';
  animation: l14 1.5s steps(1) infinite;
  width: 0.48em;
  animation-delay: 0.2s;
}
#l15 {
  font-family: 'Ghostsigns';
  animation: l15 1.5s steps(1) infinite;
  transform: rotate(15deg);
  width: 0.78em;
  margin-top: 0.35em;
  line-height: 0.55em;
  animation-delay: 0.9s;
}
#l16 {
  animation: l16 2s steps(1) infinite;
  font-family: 'Mrakobes';
  width: 0.3em;
  transform: rotate(-15deg);
  margin-top: 0.55em;
  line-height: 0.55em;
  animation-delay: -1.1s;
}
.letter_wrap {
  margin-left: -50px;
}
.p,
.o,
.m,
.g,
.i,
.t,
.e {
  background-image: url(../images/message_2.png);
  width: 440px;
  background-size: auto 700%;
  height: 342px;
  /* ' line-height: 560px;
  font-family: 'Press_Start_2P';
  font-size: 450px;
  display: flex;
  vertical-align: center;
  justify-content: center;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0);' */
  &:hover {
    animation-play-state: paused;
  }
}
.p {
  animation: p 1s infinite steps(22);
}
.o {
  animation: o 1s infinite steps(22);
}
.m {
  animation: m 1s infinite steps(22);
}
.g {
  animation: g 1s infinite steps(22);
}
.i {
  animation: i 1s infinite steps(22);
}
.t {
  animation: t 1s infinite steps(22);
}
.e {
  animation: e 1s infinite steps(22);
}
.helpme {
  display: flex;
  animation: run 7s infinite linear;
  &:hover {
    animation-play-state: paused;
  }
}
.messages {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
.first_app,
.second_app,
.third_app,
.forth_app {
  font-size: 60px;
  color: white;
  font-family: 'Helvetica';
  border: 1px solid white;
  background-color: black;
  line-height: 1.2em;
  padding: 0.4em;
  position: relative;
  text-justify: inter-word;
  text-align: justify;
  height: 100%;
  z-index: 1;
  &:hover {
    z-index: 3;
  }
}
.forth_app {
  width: 9em;
  margin-left: auto;
  margin-right: 3%;
  margin-top: -6em;
  z-index: 2;
  animation: black_blink 1.5s steps(1) infinite;
  animation-delay: -1s;
  &:hover::after {
    content: 'ОШИБКА';
    font-family: 'Press Start 2P';
    line-height: 1em;
    font-size: 1.5em;
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    animation: go_down 1s linear infinite;
  }
}
.third_app {
  width: 9em;
  position: relative;
  margin-left: 2%;
  margin-top: -2em;
  animation: black_blink 1.7s steps(1) infinite;
  animation-delay: -0.5s;
  z-index: 2;
  &:hover::before {
    content: '';
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: black;
  }
  &:hover::after {
    content: 'ОШИБКА';
    font-family: 'Press Start 2P';
    line-height: 1em;
    font-size: 1.5em;
    position: absolute;
    top: 40%;
    color: white;
    overflow-y: clip;
    animation: go_left 1s linear infinite;
  }
}
.second_app {
  width: 11em;
  font-size: 50px;
  position: relative;
  margin-top: -25%;
  margin-left: auto;
  margin-right: 7%;
  overflow: hidden;
  animation: black_blink 1s steps(1) infinite;
  animation-delay: 0.5s;
  &:hover::before {
    content: '';
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: black;
  }
  &:hover::after {
    content: 'ОШИБКА';
    font-family: 'Press Start 2P';
    line-height: 1em;
    font-size: 1.75em;
    position: absolute;
    top: 40%;
    color: white;
    overflow-y: clip;
    animation: go_right 1s linear infinite;
  }
}

.first_app {
  width: 12em;
  position: relative;
  margin-left: 1em;
  animation: black_blink 1s steps(1) infinite;
  animation-delay: 0.3s;
  &:hover::after {
    content: 'ОШИБКА';
    font-family: 'Press Start 2P';
    line-height: 1em;
    font-size: 2em;
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: black;
    animation: error 1s linear infinite;
  }
}
.first_app span,
.second_app span,
.third_app span,
.forth_app span {
  animation: blink_white 1.3s steps(1) infinite;
  animation-delay: calc(var(--i) * -0.2s);
}
.first_app .box,
.second_app .box,
.third_app .box,
.forth_app .box {
  animation: box steps(1) infinite;
  animation-delay: calc(var(--i) * -0.2s);
  animation-duration: calc(var(--i) * 1s);
}

.first_app .big_box,
.second_app .big_box,
.third_app .big_box,
.forth_app .big_box {
  animation: big_box 2s steps(1) infinite;
  animation-delay: calc(var(--i) * -0.2s);
}
footer {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  margin-top: -19em;
  height: 100vh;
  max-height: 650px;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.particles {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20%;
}
.particles span {
  position: relative;
  /* width: calc(0.4vw * var(--i));
  height: calc(0.4vw * var(--i)); */
  width: calc(4px * var(--i));
  height: calc(4px * var(--i));
  background: white;
  border-radius: 50%;
  animation: balls 1s linear infinite;
  animation-duration: calc(50s / var(--i));
  animation-delay: calc(-2s * var(--i));
  &:hover {
    animation-play-state: paused;
  }
}
.info {
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: white;
  display: flex;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.end_div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 13%;
}
.info div {
  padding: 0.8em;
  text-align: center;
  background-color: black;
  border: 2px white solid;
  z-index: 5;
  &:hover {
    animation: go_black 0.1s linear infinite;
  }
}
