html {
  background-color: black;
}
body {
  width: 1440px;
  height: 4000px;
  margin: 0 auto;
  border-left: 1px white solid;
  border-right: 1px white solid;
  position: relative;
}
section {
  position: relative;
  width: 100%;
}
section:nth-of-type(1),
section:nth-of-type(4) {
  overflow-x: clip;
}

h1 {
  -webkit-text-stroke: 0.5px black;
}
.ohmygod_wrap {
  transform: rotate(-13deg);
  margin-top: -100px;
  font-size: 300px;
}
.ohmygod_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  position: relative;
  animation: ohmygod 2s linear reverse infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}

.iwanttokillthem_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: iwanttokillthem 6s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}
.iwanttokillthem_wrap {
  font-size: 400px;
  position: relative;
}
.idontwanttodie_wrap {
  transform: rotate(25deg);
  margin-top: -50px;
  position: relative;
  z-index: 2;
  font-size: 60px;
}
.idontwanttodie_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: idontwanttodie 3s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}
.whatfor_wrap {
  transform: rotate(10deg);
  margin-top: -50px;
  position: relative;
  z-index: 2;
  font-size: 150px;
}
.whatfor_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: whatfor 3s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}
.whatididtodeserve_wrap {
  transform: rotate(-6deg);
  margin-top: -80px;
  position: relative;
  z-index: 1;
  font-size: 100px;
}
.whatididtodeserve_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: whatididtodeserve 4s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}

.why_wrap {
  transform: rotate(5deg);
  margin-top: -50px;
  position: relative;
  z-index: 1;
  font-size: 86px;
}
.why_wrap > h1 {
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'QuinqueFive';
  animation: why 3s linear infinite;
  &:hover {
    animation-play-state: paused;
    animation: shake 0.5s linear infinite;
  }
}
.system_message {
  font-family: 'Press Start 2P';
  color: rgba(255, 0, 0, 0);
  font-size: 26px;
  background-color: black;
  border: 2px solid white;
  z-index: 3;
  display: inline-block;
  position: relative;
  padding: 20px 0;
  /* animation: message_dissapear 1s linear infinite; */
  /* animation: message_dissapear linear both;
  animation-timeline: view(45% 60%); */
  /* &:hover {
    animation-play-state: paused;
    animation: message_stable 1s linear infinite;
  } */
}
.system_message:nth-of-type(odd) {
  margin-left: 2vw;
  padding-left: 1.5em;
}
.system_message:nth-of-type(even) {
  margin-right: 2vw;
  text-align: right;
  float: right;
  padding-right: 1.5em;
}
.system_message:before {
  content: ' ';
  position: absolute;
  font-size: 26px;
  color: white;
  white-space: pre-wrap;
  width: 80%;
}
.system_message:nth-of-type(even):before {
  text-align: right;
  right: 1.5em;
}
.system_message:nth-of-type(odd):before {
  animation: first_glitch 2.5s linear infinite;
  left: 1.5em;
}
.system_message:nth-of-type(1):before {
  animation: first_glitch 2.5s linear infinite;
}
.system_message:nth-of-type(2):before {
  animation: second_glitch 2.5s linear infinite;
}
.system_message:nth-of-type(3):before {
  animation: third_glitch 2.5s linear infinite;
}
.system_message:after {
  content: 'X';
  position: absolute;
  font-size: 70px;
  color: white;
  font-size: 'Press Start 2P';
  top: -40px;
  text-shadow: 10px 10px black;
  -webkit-text-stroke: 2px black;
}
.system_message:nth-of-type(odd):after {
  left: -30px;
}
.system_message_even:nth-of-type(even):after {
  right: -30px;
}

.ghosts_container {
  display: flex;
  flex-direction: row;
}
.ghost_wrap {
  width: 550px;
  height: auto;
}
.ghost_wrap:nth-of-type(2) {
  margin-left: -5%;
}
.ghost_wrap:nth-of-type(3) {
  margin-left: -5%;
}
.ghost1,
.ghost2,
.ghost3 {
  width: 100%;
  padding-bottom: 100%;
  height: auto;
}

.ghost1 {
  animation: ghost1 1s steps(21) infinite;
}
.ghost2 {
  animation: ghost2 1s steps(21) infinite;
}
.ghost3 {
  animation: ghost3 1s steps(21) infinite;
}
.ghost1,
.ghost2,
.ghost3 {
  background: url(../images/ghosts.png);
  background-size: auto 300%;
  &:hover {
    animation-play-state: paused;
  }
}
.ghost_label {
  font-family: 'Press Start 2P';
  font-size: 12px;
  float: right;
  background-color: white;
  padding: 10px;
  position: relative;
  z-index: 2;
  &:hover {
    animation: button 0.1s linear infinite;
  }
}
.letters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: clip;
}
.letters > span {
  font-size: 265px;
  color: white;
}
#l1,
#l2,
#l3,
#l4,
#l5,
#l6,
#l7,
#l8,
#l9,
#l10,
#l11,
#l12,
#l13,
#l14,
#l15,
#l16 {
  &:hover {
    animation-play-state: paused;
  }
}
#l1 {
  font-family: 'Ghostsigns';
  transform: rotate(-15deg);
  width: 0.98em;
  animation: l1 1.5s steps(1) infinite;
  margin-top: 0.25em;
}
#l2 {
  font-family: 'Boris';
  width: 0.85em;
  margin-top: 0.35em;
  animation: l2 1.5s steps(1) infinite;
  animation-delay: 1.3s;
}
#l3 {
  font-family: 'Truin';
  width: 0.55em;
  animation: l3 1.5s steps(1) infinite;
  animation-delay: -0.3s;
  margin-top: 0.25em;
}
#l4 {
  font-family: 'Ghostsigns';
  margin-top: 0.4em;
  width: 0.28em;
  animation: l4 1.5s steps(1) infinite;
  animation-delay: -0.5s;
}
#l5 {
  font-family: 'ksms';
  animation: l5 1.5s steps(1) infinite;
  width: 0.58em;
  animation-delay: -1.2s;
  margin-top: -0.15em;
}
#l6 {
  font-family: 'Mrakobes';
  animation: l6 1.5s steps(1) infinite;
  margin-top: 0.45em;
  width: 0.18em;
  animation-delay: 0.1s;
}
#l7 {
  font-family: 'Atonic';
  animation: l7 1.5s steps(1) infinite;
  width: 0.65em;
  margin-top: 0.25em;
  animation-delay: 0.8s;
}
#l8 {
  font-family: 'VPCH2';
  animation: l8 1.5s steps(1) infinite;
  transform: rotate(-15deg);
  width: 0.55em;
  margin-top: 0.25em;
  animation-delay: -0.8s;
}
#l9 {
  font-family: 'Druzhok';
  animation: l9 1.5s steps(1) infinite;
  width: 0.55em;
  animation-delay: -1.2s;
}
#l10 {
  font-family: 'ksms';
  animation: l10 1.5s steps(1) infinite;
  transform: rotate(-15deg);
  width: 0.58em;
  animation-delay: -0.7s;
}
#l11 {
  font-family: 'Atonic';
  width: 0.85em;
  animation: l11 1.5s steps(1) infinite;
  animation-delay: -1.6s;
}
#l12 {
  font-family: 'Druzhok';
  animation: l12 1.5s steps(1) infinite;
  transform: rotate(-15deg);
  margin-top: 0.25em;
  width: 0.68em;
  animation-delay: 0.6s;
}
#l13 {
  font-family: 'Rezok';
  animation: l13 1.5s steps(1) infinite;
  transform: rotate(15deg);
  width: 0.95em;
  animation-delay: 0.4s;
}
#l14 {
  font-family: 'ksms';
  animation: l14 1.5s steps(1) infinite;
  width: 0.48em;
  animation-delay: 0.2s;
}
#l15 {
  font-family: 'Ghostsigns';
  animation: l15 1.5s steps(1) infinite;
  transform: rotate(15deg);
  width: 0.88em;
  margin-top: 0.35em;
  line-height: 0.55em;
  animation-delay: 0.9s;
}
#l16 {
  animation: l16 2s steps(1) infinite;
  font-family: 'Mrakobes';
  width: 0.98em;
  transform: rotate(-15deg);
  margin-top: 0.55em;
  line-height: 0.55em;
  animation-delay: -1.1s;
}
.letter_wrap {
  margin-left: -50px;
}
.p,
.o,
.m,
.g,
.i,
.t,
.e {
  background-image: url(../images/message_2.png);
  width: 440px;
  background-size: auto 700%;
  height: 342px;
  /* ' line-height: 560px;
  font-family: 'Press_Start_2P';
  font-size: 450px;
  display: flex;
  vertical-align: center;
  justify-content: center;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0);' */
  &:hover {
    animation-play-state: paused;
  }
}
.p {
  animation: p 1s infinite steps(22);
}
.o {
  animation: o 1s infinite steps(22);
}
.m {
  animation: m 1s infinite steps(22);
}
.g {
  animation: g 1s infinite steps(22);
}
.i {
  animation: i 1s infinite steps(22);
}
.t {
  animation: t 1s infinite steps(22);
}
.e {
  animation: e 1s infinite steps(22);
}
.helpme {
  display: flex;
  animation: run 7s infinite linear;
}
.messages {
  display: flex;
  padding: 20px;
  width: 100%;
}
.first_app {
  font-size: 50px;
  color: white;
  font-family: 'Helvetica';
  border: 1px solid white;
  width: 650px;
  padding: 20px;
  line-height: 60px;
  text-align: justify;
  text-justify: inter-word;
  position: relative;
  margin-left: 120px;
}
.first_app span {
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
}
